body {
  background-color: #e6eae5ff;
  font-family: cursive;
  height: 75vh;
  margin-top: 100px;
}
.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/061/533/original/238683.jpg?1672930169");
  background-size: cover;
  display: block;
  margin: 0 auto;

  max-width: 900px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 15px 15px #1e1e1e;
  opacity: 0.9;
}
.city {
  text-align: left;
  font-size: 30px;
}
.row {
  margin: 0 auto;
}

.col .h-100 {
  background-color: #fbf9f0ff;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.col .h-100:hover {
  background-color: #c1bbaaff;
}
.list-group {
  display: block;
  margin: auto;
  padding: 20px;
}
.list-group-item {
  background-color: #fbf9f0ff;
  transition: all 200ms ease-in-out;
}
.list-group-item:hover {
  transform: scale(1.15);
  background-color: #c1bbaaff;
}
.col-3 {
  max-width: 10px auto;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #e6eae5ff;
  text-align: left;
}
.temperature {
  margin: 0 auto;
  top: -200px;
  font-size: 42px;
}
.unit {
  position: relative;
  top: -30px;
  left: 10px;
  font-size: 24px;
}
.weather-icon {
  position: relative;
  top: -5px;
  left: 20px;
  font-size: 50px;
}

.humWind {
  margin-top: 10px;
}
.col-6 {
  padding: 0;
}
.humAndWind {
  font-size: 14px;
}
.current-weather {
  margin-top: 25px;
}
.search-icon {
  font-size: 25px;

  position: relative;
  right: -800px;
  top: 35px;
  transition: all 200ms ease-in-out;
}
.search-icon:hover {
  transform: scale(1.15);
}
.location {
  list-style: none;
  display: block;
  margin: 50px auto;
  padding: 30px;
  text-align: left;
  font-size: 20px;
}
.source-link {
  display: block;
  margin: 20px auto;
  text-align: center;
}
